---
let {title,description,reference,mask} = Astro.props;
---

<div class="group relative flex flex-col items-center justify-center w-3/4 h-full">
  <a href={`/servicios${reference}`} class="relative w-full h-full">
    <article class="relative flex flex-col justify-center w-full h-full p-6 backdrop-invert-25 mask-b-from-85 to-100 shadow-lg rounded-lg max-lg:p-3 overflow-hidden">
      <img 
        src={mask}
        alt="mask-image"
        class="absolute inset-0 w-full h-full object-cover scale-110 opacity-0 transition-all duration-1000 ease-in-out group-hover:opacity-30 group-hover:scale-100 z-0"
      />
      <div class="absolute inset-0 z-0"></div>
      <div class="relative z-10 text-center mb-4 text-5xl font-extralight text-white">
        <h1 transition:name={`t-${title}`} transition:animate="fade">{title}</h1>
      </div>
      <div class="relative z-10 text-[#FCF5E5] text-center mb-4">
        <h2 class="text-[#2169d4] text-2xl mb-4 group-hover:text-amber-400 transition-all duration-200" >
          {title=='Asesorias'? 'Online o Presencial': 'Presencial'}
        </h2>
        <p class="px-5 mb-20">{description}</p>
      </div>
    </article>
  </a>
</div>

<style>
    article> * {
        font-family: 'FiraMono', monospace;
    }
    h1{
        font-family: EBGaramond;
    }
</style>
